
/* font loading */
@font-face {
    font-family: 'Roboto';
    src: url('/assets/fonts/robotoslab-regular-webfont.eot');
    src: url('/assets/fonts/robotoslab-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/robotoslab-regular-webfont.woff2') format('woff2'),
         url('/assets/fonts/robotoslab-regular-webfont.woff') format('woff'),
         url('/assets/fonts/robotoslab-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('/assets/fonts/robotoslab-bold-webfont.eot');
    src: url('/assets/fonts/robotoslab-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/robotoslab-bold-webfont.woff2') format('woff2'),
         url('/assets/fonts/robotoslab-bold-webfont.woff') format('woff'),
         url('/assets/fonts/robotoslab-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* structure */
html, body {
    margin: 0;
    padding:    0;
    font-family:    sans-serif;
    color:  #301413;
}
div.content {
    max-width:  50em;
    margin: 0 auto;
}

/* header styles */
header {
    background: url("/assets/img/docs-lines.svg") bottom repeat-x,
                linear-gradient(to bottom, #fff 0%, #fff3f2 100%),
/*                linear-gradient(to bottom, #fff 0%, #f1ecd7 100%),*/
                #fff3f2
                ;
    padding:    60px 0 30px 0;
}
.subheader {
    max-width:  50em;
    margin:     0 auto;
/*    padding:    0 0 30px 0;*/
}
.subheader img {
    float:  left;
}
.subheader .title {
    margin-left:    116px;
}
.subheader .subtitle {
    font-style: italic;
    color:  #61403F;
    font-family:    Roboto, serif;
    font-size:  20px;
}
nav {
    display:    box;
    max-width:  50em;
    text-align: right;
    font-family:    Roboto, serif;
    margin: 0 auto 60px auto;
}
nav a {
    box-shadow: none;
}
h1, h2, h3, h4, h5, h6 {
    font-family:    Roboto, serif;
    color:  #fe6a65;
}
h1 {
    font-size:  48px;
    font-weight:    100;
    text-shadow:    1px 1px 1px #61403f;
    margin: 6px 0 0 0;
    padding:    0;
}
h1.onlyTitle {
    margin-top: 26px;
}
h2 {
    font-size:  36px;
    font-weight:    100;
    margin-bottom:  0;
}

/* body stuff */
p, li, dd, dt {
    line-height:    1.8;
}
p {
    margin-top: 0;
}
p.blurb {
    font-family:    Roboto, serif;
    font-size:  1.1em;
    font-style: italic;
    margin-bottom: 60px;
    color:  #61403f;
}
a {
    color:  #fe6a65;
    text-decoration:    none;
    box-shadow: 0 -3px 0 rgba(158, 211, 58, 0.5) inset;
}
a:hover {
    box-shadow: 0 -3px 0 rgba(102, 184, 188, 0.5) inset;
}
dt {
    font-weight:    bold;
}
dd {
    padding:    0 0 1em 2em;
}
blockquote {
    margin: 1em 3em 1em 3em;
    font-style: italic;
}
section {
    margin-top: 60px;
}

/* calls to action */
div.act {
    display:    table-row;
    border-collapse: collapse;
}
div.act a {
    display:    table-cell;
    color:  inherit;
    width:  30%;
    color:  #fff;
    padding:    10px 15px 15px 15px;
    font-family:    Roboto, serif;
    border-right:   15px solid #fff;
    box-shadow: none;
}
div.act a:last-of-type {
/*    border-right:   none;*/
}
div.act span.callout {
    display:    block;
    font-size:  2.5em;
    font-style: italic;
    margin-bottom: 10px;
    border-bottom:  1px solid #fff;
}
div.act a:nth-of-type(1) { background: url("/assets/img/corner.svg") top right no-repeat, #9ed33a; }
div.act a:nth-of-type(2) { background: url("/assets/img/corner.svg") top right no-repeat, #fe6965; }
div.act a:nth-of-type(3) { background: url("/assets/img/corner.svg") top right no-repeat, #66b8bc; }
div.act a:nth-of-type(1):hover { color: #9ed33a; background: #fff; }
div.act a:nth-of-type(2):hover { color: #fe6965; background: #fff; }
div.act a:nth-of-type(3):hover { color: #66b8bc; background: #fff; }


/* Footer */
footer {
    background: #fe6a65;
    font-family:    Roboto, serif;
    color:  #fff;
    padding:    30px 0 15px 0;
    text-align: right;
    clear:  both;
}
.subfooter {
    max-width:  50em;
    margin: 0 auto;
}
footer a {
    color:  #fff;
    box-shadow: none;
}
footer p {
    margin: 0;
    padding: 0;
}


/* utilities */
.clearfix {
    display: block;
    zoom: 1;
}
.clearfix:after {
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* alternative */
@media print {
    header {
        color:  #000;
    }
    footer {
        background: #fff;
        color:  #000;
    }
    a {
        color:  #666;
        border-bottom:  1px dotted #666;
        box-shadow: none;
    }
    a[href^="http"]:after {
        content: "  (" attr(href) ")";
        color:  #333;
        font-style: italic;
    }
    footer a[href^="http"]:after {
        content:    "";
    }
}
