<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>XXX</title>
    <link rel="stylesheet" href="/docs/css/kraken.css">
  </head>
  <body>
    <header>
      <div class="subheader clearfix">
        <a href="/docs/"><img src="/assets/img/logo.svgz" width="100" height="100" alt="Web Platform Specs"></a>
        <div class="title">
          <h1>XXX</h1>
          <div class="subtitle"></div>
        </div>
      </div>
    </header>
    <div class="content"></div>
    <footer>
      <div class="subfooter">
        <p>
          <a href="/">specs</a>
          •
          <a href="http://creativecommons.org/publicdomain/zero/1.0/" rel="license">CC0</a>
          •
          <a href="https://github.com/webspecs/documentation">⋔ me</a>
          •
          <a href="/docs/policy/anti-jerk.html">anti-jerk policy</a>
        </p>
      </div>
    </footer>
  </body>
</html>
